:root {
  --hop-green: #a6cc87;
  --dark-green: #91b376;
  --light-grey: rgb(240, 240, 240);
  --grey: rgb(200,200,200);
  --dark-grey: rgb(160,160,160);
}


#list-number {
  font-weight: bolder;
  width: 2rem;
  color: var(--dark-green);
}

.callout p {
  margin: 0;
  margin-left: .5rem;
  color: rgb(130,130,130);
}

.close-button {
  position: static;
  margin-bottom: .3rem !important;
}


.button.submit, .button.submit:focus {
  margin: 1rem 0;
  background-color: var(--dark-grey) !important;
  font-weight: bold;
  border-radius: 3px;
  outline: none;
}

.button.submit:hover {
  background-color: var(--grey) !important;
  border: none !important;
}

#breweryList .list-group-item:hover {
  background-color: var(--light-grey) !important;
}

header .menu img {
  height: 40px;
}

footer {
  background-color: var(--dark-green) !important;
  color: white;
}

.attribution {
  align-self: stretch;
  position: relative;
}

.attribution p {
  bottom: 0;
  font-size: x-small;
  margin: 0;
  position: absolute;
}

.accordion-content {
  background-color: var(--light-grey);
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  border: none;     
}


.accordion-title, .accordion-title:active, .accordion-title:focus {
  background-color: var(--dark-green) !important;
  border: none;
  font-weight: bold;
}

.accordion-title:hover {
  background-color: var(--hop-green) !important;
}

.accordion-item a {
  color: white;
}

.fieldset {
  background-color: rgb(250, 250, 250);
  box-shadow:  0 0 10px 1px rgb(225,225,225);
}

#zip-input {
  background-color: white;
}

.pin-button {
  background-color: rgb(230, 230, 230, 0.7);
  margin: 3px;
  border-radius: 5px;
  padding: 5px;
  color: rgb(0, 0, 0, 0.3);
  font-size: larger;
}

.pin-button:hover {
  background-color: rgb(230, 230, 230);

}

.button-input {
  border: 1px solid #cacaca;
  box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
}

label.middle {
  margin: 1rem 0 !important;
}

input, select {
  margin: 1rem 0 !important;
}

ol {
  margin: 0;
}

.button-input input {
  border: none;
  box-shadow: none;
  background-color: rgba(255,255,255,.0);
  margin: 0 !important;
}

a {
  color: black;
}

#brew-toggle a:not(.hollow) {
  cursor: default;
}

.switch-paddle {
  border-radius: 15px;
}

.switch-paddle::after {
  border-radius: 15px;
}

input:checked~.switch-paddle {
  background-color: var(--dark-green);
}


.checkbox-element {
  position: absolute;
  width: 30px;
  top: -20px;
  left: -7px;
  height: 30px;
  z-index:99999;
  opacity:0;
  margin: 0;
}

.checkbox {
  position: relative;
  margin: 0 10px;
}

.checkbox>input[type='checkbox']+i{
    color:rgba(0,0,0,0.2);
}

.checkbox>input[name='favorite']:checked+i{
  color: #c04040;
}
  
.checkbox>input[name='visited']:checked+i{
  color: #386088;
}

.brewery-list-item > div:first-child {
  cursor: default;
  font-size: larger;
}

.brewery-list-item > div:nth-child(2) {
  padding-left: 8px;
  width: 100%;
}

.brewery-list-item p {
  font-size: smaller;
}

#mapToggle {
  border: none;
  background-color: #e6e6e6;
}

.list-group {
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}
  
.list-group > :last-child {
  margin-bottom: 0;
}
  
.list-group-item {
  padding: 0 .5rem;
  border-bottom: 1px solid #e6e6e6;
}
  
  .list-group-item > :last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  
  .list-group-item.active {
    color: #fefefe;
    background-color: #1779ba;
    border-color: 1px solid #1779ba;
  }
  
  .list-group-item:hover, .list-group-item:focus {
    background-color: #e6e6e6;
  }
  
  .list-group-item:hover.active, .list-group-item:focus.active {
    background-color: #1779ba;
  }
  
  .list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
    color: #8a8a8a;
    cursor: not-allowed;
    background-color: #fefefe;
  }

  .tourSelection {
    background-color: #fff4c0;
  }
  
  #breweryList .tourSelection:hover {
    background-color: #ffe8a0 !important;
  }

  /* font-face */
@font-face {
    font-family: "GeneralFoundicons";
    src: url("../fonts/general_foundicons.eot");
    src: url("../fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_foundicons.woff") format("woff"), url("../fonts/general_foundicons.ttf") format("truetype"), url("../fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  /* global foundicon styles */
  [class*="foundicon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
  }
  
  [class*="foundicon-"]:before {
    font-family: "GeneralFoundicons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
  }
  
  /* icons */
  .foundicon-settings:before {
    content: "\f000";
  }
  
  .foundicon-heart:before {
    content: "\f001";
  }
  
  .foundicon-star:before {
    content: "\f002";
  }
  
  .foundicon-plus:before {
    content: "\f003";
  }
  
  .foundicon-minus:before {
    content: "\f004";
  }
  
  .foundicon-checkmark:before {
    content: "\f005";
  }
  
  .foundicon-remove:before {
    content: "\f006";
  }
  
  .foundicon-mail:before {
    content: "\f007";
  }
  
  .foundicon-calendar:before {
    content: "\f008";
  }
  
  .foundicon-page:before {
    content: "\f009";
  }
  
  .foundicon-tools:before {
    content: "\f00a";
  }
  
  .foundicon-globe:before {
    content: "\f00b";
  }
  
  .foundicon-home:before {
    content: "\f00c";
  }
  
  .foundicon-quote:before {
    content: "\f00d";
  }
  
  .foundicon-people:before {
    content: "\f00e";
  }
  
  .foundicon-monitor:before {
    content: "\f00f";
  }
  
  .foundicon-laptop:before {
    content: "\f010";
  }
  
  .foundicon-phone:before {
    content: "\f011";
  }
  
  .foundicon-cloud:before {
    content: "\f012";
  }
  
  .foundicon-error:before {
    content: "\f013";
  }
  
  .foundicon-right-arrow:before {
    content: "\f014";
  }
  
  .foundicon-left-arrow:before {
    content: "\f015";
  }
  
  .foundicon-up-arrow:before {
    content: "\f016";
  }
  
  .foundicon-down-arrow:before {
    content: "\f017";
  }
  
  .foundicon-trash:before {
    content: "\f018";
  }
  
  .foundicon-add-doc:before {
    content: "\f019";
  }
  
  .foundicon-edit:before {
    content: "\f01a";
  }
  
  .foundicon-lock:before {
    content: "\f01b";
  }
  
  .foundicon-unlock:before {
    content: "\f01c";
  }
  
  .foundicon-refresh:before {
    content: "\f01d";
  }
  
  .foundicon-paper-clip:before {
    content: "\f01e";
  }
  
  .foundicon-video:before {
    content: "\f01f";
  }
  
  .foundicon-photo:before {
    content: "\f020";
  }
  
  .foundicon-graph:before {
    content: "\f021";
  }
  
  .foundicon-idea:before {
    content: "\f022";
  }
  
  .foundicon-mic:before {
    content: "\f023";
  }
  
  .foundicon-cart:before {
    content: "\f024";
  }
  
  .foundicon-address-book:before {
    content: "\f025";
  }
  
  .foundicon-compass:before {
    content: "\f026";
  }
  
  .foundicon-flag:before {
    content: "\f027";
  }
  
  .foundicon-location:before {
    content: "\f028";
  }
  
  .foundicon-clock:before {
    content: "\f029";
  }
  
  .foundicon-folder:before {
    content: "\f02a";
  }
  
  .foundicon-inbox:before {
    content: "\f02b";
  }
  
  .foundicon-website:before {
    content: "\f02c";
  }
  
  .foundicon-smiley:before {
    content: "\f02d";
  }
  
  .foundicon-search:before {
    content: "\f02e";
  }

  @media screen and (max-width: 39.9375em) {
    .button.small-only-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .button.medium-only-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (max-width: 63.9375em) {
    .button.medium-down-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media print, screen and (min-width: 40em) {
    .button.medium-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (min-width: 64em) and (max-width: 74.9375em) {
    .button.large-only-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (max-width: 74.9375em) {
    .button.large-down-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media print, screen and (min-width: 64em) {
    .button.large-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  
  